body {
	text-align: center;
	padding-top: 70px;
}

.container {
	text-align: left;
	width: 960px;
}

.login-box {
	margin-top: 100px;
}

.navbar .brand {
	padding: 5px 30px 8px 12px;
}

.subcategorie {
	margin-left: 35px; 
}

.clear {
	clear: both;
}

td.highlight {border: none !important;padding: 1px 0 1px 1px !important;background: none !important;overflow:hidden;}
td.highlight a {background: #99dd73 url(bg.png) 50% 50% repeat-x !important;  border: 1px #88a276 solid !important;}